body {
    text-align: center;
}

h1 {
    text-align: center;
    color: black;
    text-shadow: 2px 2px 1px orange;
}

h2 {
    text-align: center;
    text-shadow: 2px 2px 1px orange;
    color: black;
}

p {
    color: black;
    font-size: 8px;
}